name: Build typst
on:
  pull_request:
    branches:
      - main

jobs:
  build_release_thesis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'
          lfs: true
  
      - name: Compile Typst
        uses: lvignoli/typst-action@main
        with:
          source_file: |
            thesis.typ
            proposal.typ
